<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{title}}</h1>
    <h5>{{subtitle}}</h5>
    <h6>{{version}}</h6>
    <h5><input type="submit" (click)="spin()" value="Крутить!"/></h5>
    <select multiple [(ngModel)]="selectedJanr" (click)="spin()">
        <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
    </select>
    <br/>
    C <input type="text" [(ngModel)]="yearFrom" (change)="spin()"> по <input type="text" (change)="spin()" [(ngModel)]="yearTo" >
</div>
<br/>
<div style="text-align:center">
    <div *ngFor="let show of shows" class="index show">
        <div style="height: 300px;width: 200px " [ngStyle]="{ 'background-image': 'url(' + show.img + ')'}"></div>
        <a class="name" href="{{show.url}}">
            <div class="show-info">
                <div class="info">
                    <span class="star">
                        Рейтинг <span class="value">{{show.rating}}</span>
                    </span>
                    <span class="cam">
                        Год <span class="value">{{show.year}}</span>
                    </span>
                    <br/>
                    <br/>
                    <div class="desc">
                        <div class="title" [innerHTML]="show.title"></div>
                        <p>{{show.description}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>